$height: 60px;

.se-compass-navigator {
  height: $height;
  background-color: #000;
  color: #fff;
  position: relative;

  &__scrollbox {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  &__scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: $height + 60px;
    cursor: grab;
    user-select: none;
  }

  &__scroll-inner {
    width: 200%;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__scroll-center {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    height: 100%;
    box-sizing: border-box;
    width: 4px;
  }

  &__directions {
    position: relative;
    height: 100%;
  }

  &__direction {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &__default-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    p {
      margin: 0;
    }
  }
}
